# Server settings
SERVER_PORT=8080

# Security
JWT_SECRET=yoursupersecretkey
APP_ID=yourappid

# CORS Settings (comma-separated)
ALLOWED_ORIGINS=http://localhost:3000,http://your-frontend-app.com

# AI settings
WEIGHT_DIR=./weights
NUM_TIMESTEP=30
