# Server settings
SERVER_HOST=0.0.0.0
SERVER_PORT=8080

# Security
JWT_SECRET=yoursupersecretkey
APP_ID=yourappid

# CORS Settings (comma-separated)
ALLOWED_ORIGINS=http://localhost:3000,http://your-frontend-app.com

# AI settings
JOB_DIR=../jobs
WEIGHT_DIR=../weights
PYTHON_PATH=../.venv/bin/python
SCRIPT_PATH=../examples/basic_inference.py
NUM_TIMESTEP=30
